<%= render partial: "shared/header", locals: {user: @user} %>
<div class="diary-wrapper">
  <div class="diaries-container">
    <div class="diaries-header">
      <h1>日記の編集</h1>
    </div>
    <%= render partial:"diary_form"%>
  </div>
</div>