<%= render partial: "shared/header", locals: {user: @user} %>
<div class="diary-wrapper">
  <div class="diaries-container">
    <div class="diaries-header">
      <h1>日記を書く</h1>
      <p>※日記は上の項目から順に書くのがより効果的です!</p>
    </div>
    <%= render partial:"diary_form"%>
  </div>
</div>