// ***************
// new
// ***************

.diagnosis-container {
  background-color: beige;
}

.diagnosis-head h1{
  font-size: 7vh;
  color: blue;
  margin-bottom: 20px;
  padding-top: 15px;
}

.diagnosis-head {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.diagnosis-head p{
  padding: 10px;
  font-size: 3vh;
}

@for $i from 1 through 12 {
  .question#{$i} {
    text-align: center;
    height: 10vh;
    margin-top: 30px;
    p {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

.submit {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

.submit input{
  border-radius: 8px;
  background-color: orange;
  color: white;
  height: 40px;
  width: 15%;
  font-size: 22px;
}

// ****************
// index
// ****************

.your-type {
  text-align: center;
  p {
    font-size: 7vh;
    margin-top: 6vh;
  }
  span {
    color: red;
  }
}

.type-image {
  margin-top: 20vh;
}

.chrono-details{
  table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 40px;
    border-radius: 10px;
    background-color: beige;
  }
  p {
    width: 60%;
    margin-top: 30px;
    
    letter-spacing: 4px;
    font-size: 20px;
    line-height: 30px;
    padding: 40px;
  }
  h1 {
    border-bottom: 1px solid gray;
    font-size: 6vh;
    width: 70%;
    padding-left: 10px;
    margin-top: 100px;
  }
}

.top-page-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  border-radius: 8px;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  background-color: royalblue;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
}

.user-rgst-btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  border-radius: 8px;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  background-color: royalblue;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
}