<header>
  <div class="header-contents">
    <div class="title">
      <%= link_to "SupreThm", root_path, class: "header_title"%>
    </div>
    <div class="users">
      <%= link_to "新規登録", "#", class: "head-sign-up"%>
      <%= link_to "ログイン", "#", class: "head-sign-in"%>
    </div>
  </div>
</header>