<%= render partial: "shared/header"%>

<div class="top-contents">
  <h1>あなたの最適な生活リズムを見つけましょう</h1>
  <p>SupreThm(シュプリズム)はあなたが最高のパフォーマンスを発揮するための生活リズムを提案します<br>
  あなたが最も輝ける生活リズムを発見しましょう！</p>
</div>

<div class="our-features">
  <h1 class="feature">最適なリズムをつくる3ステップ</h1>
  <div class="first-step">
    <em>クロノタイプ診断</em>
    <%= image_tag "/images/body_tainai_dokei1.png", size: '100x200', class: "tainai-dokei"%>
    <div class="first-contents">
      <p>人間は遺伝的に体内時計のパターンが決まっています。</p>
      <p>夜の方が活発になる人もいれば、日中が最も元気な人もいます。</p>
      <p>このパターンを4つに分類したものはクロノタイプと呼ばれます。</p>
      <p>アメリカの睡眠学者によって提唱されたものです。</p>
      <p>まずはあなたのクロノタイプを診断し、あなたに最適な睡眠時間や起床のタイミングなどを把握しましょう。</p>
    </div>
  </div>

  


