.top-contents {
  text-align: center;
}

.top-contents em {
  font-size: 6vh;
  margin-top: 15px;
  display: block;
  opacity: 0.7;
  font-weight: bold;
}

.top-contents p {
  margin-top: 30px;
  font-size: 20px;
}

.our-features {
  margin-top:  40px;
  padding-left: 10px;
}

.feature {
  font-size: 22px;
  line-height: 5vh;
  border-bottom: 1px solid;
  width: 50%;
  height: 5vh;
}

.step {
  width: 63%;
  margin-top: 20px;
  background-color: lightgoldenrodyellow;
  padding-bottom: 20px;
}

.step em{
  font-size: 20px;
  color: blue;
}

.feature-contents p {
  margin-top: 7px;
}

.feature-contents {
  margin-top: 13px;
}

.tainai-dokei {
  margin-left: 25%;
}

.diagnosis-btn {
  font-weight: bold;
  color: white;
  background-color: orange;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

.second {
  margin: 80px 0;
}

.schedule-img {
  margin-left: 18%;
}