.welcome {
  opacity: 0.6;
  font-size: 4vh;
  margin-top: 30px;
  text-align: center;
}

.your-animal {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.animal {
  font-size: 5vh;
  color: red;
}

.contents-box h1{
  font-size: 30px;
  margin-top: 90px;
  padding-bottom: 30px;
}

.contents-box p{
  font-size: 20px;
}

.schedule-contents {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.edit-schedule img{
  margin-top: 19px;
}

.edit-schedule{
  margin-left: 10%;
}

.diary-contents {
  display: flex;
  justify-content: center;
}

.diaries {
  margin-top: 100px;
}

.edit-diary{
  margin-left: 15%;
}

